@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hangjobs</h1>
    <p class="lead">Hangjobs uses background jobs to provide fast and non blocking approach for Customers.</p>
    <p><a href="@Url.Action("Create", "Customers")" class="btn btn-primary btn-lg">Create a customer &raquo;</a></p>
</div>